
.screen{
  display: flex;
  flex-direction: column;

  .title{
    margin-top:5%;
    margin-bottom:3%;
    font-size: 23px;
    align-self: center;
  }
  .container{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    .left{
      width:50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .searchbar{
        align-self: center;
      }
    }
    .right{
      width:50%;
      text-align: -webkit-center;
    }
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    position:relative;
    bottom:1%;
    .buttonForward {
      background-color: #127ccd;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;
      width: 140px;

    }
    .buttonBackward {
      background-color: #127ccd;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;
      width: 150px;
    }
  }
}

@media screen and (max-width: 480px) {
  .left{
    width:100% !important;
  }
  .card-group > div{
    flex:50%;
  }
  .card-group{
    display: flex;
    width:100% !important;
  }

  .card-container{
    width:100% !important;
    flex-direction:row !important;
  }

  .search-bar{
    width: 96% !important;
    margin-left:0 !important;
    margin-top: 4% !important;
}

  .container{
    flex-direction: column-reverse !important;
  }

  .right{
    width: 100% !important;
  }

  .screen{
    margin-bottom: 2% !important;
  }

  .info-card-container{
    width:90% !important;
    padding-top: 2% !important;
  }


}