.screen{
  display: flex;
  flex-direction: column;
  .title{
    margin-top:5%;
    margin-bottom:3%;
    font-size: 23px;
    align-self: center;
  }
  .container{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    .left{
      width:50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .searchbar{
        align-self: center;
      }
    }
    .right{
      width:50%;
      text-align: -webkit-center;
    }
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    position:relative;
    bottom:1%;
    .buttonForward {
      background-color: #127ccd;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;

    }
    .buttonBackward {
      background-color: #127ccd;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;
    }
  }
}