.info-card-container img {
  width: 120px;
  height: 120px;
  align-self: center;
}
.info-card-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255,255,255,0.3);
}

.info-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  width: 500px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  height: 98%;
  .extra-attributes{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 6%;
    margin-left: 20%;
    margin-right: 20%;
    .attr-title{
      font-size: 16px;
      margin-bottom: 4px;
      font-weight: 450;
    }
    .subtitle{
      font-size: 12px;
      margin-bottom: 8px;
    }
  }

}